.category-wrap {
    overflow: hidden;
    a {
        display: block;
        img {
            width: 100%;
            transition: all .9s ease 0s;
        }
    }
    &:hover {
        a {
            img {
                transform: scale(1.1);
            }
        }
    }
}


















































